.animated-text {
  display: inline-block;
  margin-left: 8px;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  animation: moveText 2s ease-in-out infinite;
}

@keyframes moveText {
  0% {
      transform: translateX(0);
  }
  50% {
      transform: translateX(10px);
  }
  100% {
      transform: translateX(0);
  }
}
