img {
    width:120%;
    height: 100%;
}
.button-text{
    position: absolute;
    right:70%;
    top: 40%;
    display: grid;
    gap: 10px; /* Adjust the gap value to the desired spacing */
}
.button-text-2{
    position: absolute;
    left:90%;
    top: 20%;
    display: grid;
    gap: 10px; /* Adjust the gap value to the desired spacing */
}
.button-text-3{
    visibility: visible;
    animation-duration: 1s;
    animation-delay: 0s;
    animation-name: fadeInLeft;
    position: absolute;
    left: 50%;
    top: 33%;
    display: grid;
    gap: 10px; /* Adjust the gap value to the desired spacing */
}
.button-slider{
    visibility: visible;
    animation-duration: 1s;
    animation-delay: 0s;
    animation-name: fadeInLeft;
    background: #00008B;
    border: 2px solid #fff;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-display: swap;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    padding: 5px 5px 5px 20px;
    margin-bottom: 8px;
    border-radius: 35px;
    justify-content: space-between;
    padding: 20px;
    
}
button span{
    padding-right: 10px;
    text-align: center;
    flex-grow: 1;
    font-weight: bold;
    color:#fff
}